@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Calligraffitti-Regular";
    src: url("../fonts/Calligraffitti-Regular/Calligraffitti-Regular.eot");
    src: url("../fonts/Calligraffitti-Regular/Calligraffitti-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Calligraffitti-Regular/Calligraffitti-Regular.otf") format("otf"),
    url("../fonts/Calligraffitti-Regular/Calligraffitti-Regular.svg") format("svg"),
    url("../fonts/Calligraffitti-Regular/Calligraffitti-Regular.woff") format("woff"),
    url("../fonts/Calligraffitti-Regular/Calligraffitti-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rambla-Regular";
    src: url("../fonts/Rambla-Regular/Rambla-Regular.eot");
    src: url("../fonts/Rambla-Regular/Rambla-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Rambla-Regular/Rambla-Regular.otf") format("otf"),
    url("../fonts/Rambla-Regular/Rambla-Regular.svg") format("svg"),
    url("../fonts/Rambla-Regular/Rambla-Regular.woff") format("woff"),
    url("../fonts/Rambla-Regular/Rambla-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoSlab-Bold";
    src: url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot");
    src: url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.otf") format("otf"),
    url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.svg") format("svg"),
    url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff") format("woff"),
    url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoSlab-Regular";
    src: url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot");
    src: url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.otf") format("otf"),
    url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.svg") format("svg"),
    url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.woff") format("woff"),
    url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}